<div class="container-fluid">
	<div class="row">

		<div class="col-md-4">
            <img class="img-fluid" src="/public/assets/images/bob.png" alt="Responsive image">
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12 text-center">
                    <img class="mx-auto" src="/public/assets/images/bobsburgerslogo.png">
				</div>
			</div>
			<div class="row" id="content">
				<div class="col-md-6">
                    <h3 class="menu-item">Menu Items</h3>
                    {{#each burger_name}} {{#unless this.devoured}}
                    <span class="btn-group">
                        <div class="name">{{ this.burger_name }}</div>
                        <form action="/burgers/{{this.id}}?_method=put" method="POST">
                            <input type="hidden" value="1" name="devoured">
                            <button class="btn btn-outline-danger btn-sm "> Devour It! <span><i class="fas fa-utensils"></i></span></button>
                        </form>
                    </span>
                    {{/unless}} {{/each}}
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
                            <h3>Add a burger</h3>

                            <form action="/burgers" method="POST">
                                <div>
                                    <div>
                                        <div><label for="burg">Burger Name:</label></div>
                                        <div class="input"><input type="text" id="burg" class="form-control" name="burger_name"></div>
                                        <div><button type="submit" >Add Burger</button></div>
                                    </div>
                                </div>
                            </form>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
                            <h3 class="gone">All gone!</h3>
                            {{#each burger_name}} {{#if this.devoured}}
                            <div>

                                <div class="name">{{this.burger_name}}</div>
                            </div>
                            {{/if}} {{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>